<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NOT_KAYIT2.Properties.Settings.DbNotkayıtConnectionString"
            connectionString="Data Source=RMYS\SQLEXPRESS;Initial Catalog=DbNotkayıt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>